<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Algorithm Time Complexity Checker</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Algorithm Time Complexity Checker</h1>
    <label for="code">Enter your algorithm code:</label>
    <textarea id="code"></textarea>
    <button id="submit">Check Complexity</button>
    <div id="output"></div>
    <script src="js/script.js"></script>
</body>

</html>